.index{
    width: 100%;
    height: 100vh;
}

.index-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}
.index-image{
    width: 700px;
}